.category-cart-main-page, .product-category-page {
    width: 25%;
}

.fast-menu-in-left-menu {
    display: none;
}

.product-container-product-page > div {
    width: 50%;
}

.product-img-in-calculator {
    width: 25%;
}

.about-text {
    width: 25%
}

.container-product-in-basket {
    width: 20%;
}

.count-item-in-bag {
    background-color: #ec407a;
    border-radius: 100px;
    top: -10px;
    min-width: 30px;
}

.img-logo {
    max-width: 200px;
    max-height: 65px;
}

.logo-container {
    width: 200px;
}

.container-found-product {
    width: 75%;
    .container-found-product-container {
        display: flex;
        .container-found-product-container-text {
            width: 50%;
        }
        .product-img-in-calculator {
            width: 50%;
        }
    }
}

.search-container-header {
    margin-right: 10px;
    &.hide {
        display: flex;
    }
}

.search-button-small-screen-container {
    display: none;
}

.callback {
    display: none;
}

@media screen and (max-width: 1440px) {

    .category-cart-main-page, .product-category-page, .about-text {
        width: 33%;
    }

    .carousel {
        width: 95%;
    }

    .container-product-in-basket {
        width: 25%;
    }
}

@media screen and (max-width: 1140px) {

    .container-product-in-basket {
        width: 33%;
    }
}

@media screen and (max-width: 960px) {

    .category-cart-main-page, .product-category-page, .product-img-in-calculator, .about-text {
        width: 50%;
    }

    .product-container-product-page > div {
        width: 100%;
    }

    .smooth-block > a > .shadow-text {
        opacity: 1;
        position: static;
        background-color: unset;
    }

    .smooth-block > a > .shadow-text > div {
        color: black;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {

    .container-product-in-basket {
        width: 100%;
    }

    .fast-menu {
        display: none;
    }

    .social-contact {
        position: absolute;
        right: 0;
        bottom: calc(-60vh);

        .social-contact-container {
            flex-direction: column;

            > * {
                display: block;
                margin: 0 0 10px 0;
            }

            img {
                width: 25px;
            }

            .additional-phones {
                display: none;
            }

            .callback {
                display: block;
            }

            .viber,
            .whatsapp,
            .telegram {
                img {
                    width: 30px;
                }
            }
        }
    }

    .menu {
        margin-right: auto;
    }

    .text-menu {
        display: none;
    }

    .no-mobile-version {
        display: none;
    }

    .search-container-header {
        display: none;
    }

    .smooth-block {
        width: 100%;
    }

    main {
        min-height: calc(100vh - 200px);
        margin: 25px 5% 0 5%;
    }

    .carousel {
        width: 100%;
    }

    .carousel-container {
        height: 200px;
    }

    .img-carousel {
        height: 200px;
    }

    .phone-container-header {
        display: none;
    }

    .fast-menu-in-left-menu {
        display: block;
    }

    .button-back-call.header {
        display: none;
    }

    .container-btn-slider {
        opacity: 0;
    }
}

@media screen and (max-width: 540px) {
    .category-cart-main-page, .product-category-page, .product-img-in-calculator, .about-text {
        width: 100%;
    }

    .img-logo {
        max-width: 120px;
        max-height: 40px;
    }

    .main-left-menu {
        display: none;
    }

    .container-basket-and-profile {
        position: sticky;
        bottom: 0;
        padding-left: 15px;
        padding-right: 5px;
        min-height: 60px;
        width: 100%;
        background-color: white;
        box-shadow: 0 -2px 3px 0 rgb(0 0 0 / 25%);
        left: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .basket-and-profile {
            order: 2;
        }
        .call-me {
            order: 1;
        }

        .count-item-in-bag {
            right: -15px;
            top: -20px;
        }

        .text-basket,
        .text-profile {
            display: none;
        }
    }

    .logo-container {
        //margin-right: auto;
        width: 130px;
        margin: 0;
    }

    .menu {
        margin-right: 0;
    }

    .search-button-small-screen-container {
        display: flex;
        //margin-right: 5px;
        margin: auto;
    }

    .search-container-header {
        position: absolute;
        width: calc(100% - 10px);
        top: 55px;
        &.hide {
            display: none;
        }
        &:not(.hide) {
            display: flex;
        }
    }

    .carousel-container {
        height: 150px;
    }

    .img-carousel {
        height: 150px;
    }

    .container-found-product {
        width: 100%;
        .container-found-product-container {
            flex-direction: column;
            .container-found-product-container-text {
                width: 100%;
            }
            .product-img-in-calculator {
                width: 100%;
            }
        }
    }
}
