.category-cart-main-page, .product-category-page {
    width: 25%;
}

.fast-menu-in-left-menu {
    display: none;
}

.product-container-product-page > div {
    width: 50%;
}

.product-img-in-calculator {
    width: 25px;
}

.about-text {
    width: 25%
}

@media screen and (max-width: 1440px) {

    .category-cart-main-page, .product-category-page, .about-text {
        width: 33%;
    }
}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 960px) {

    .category-cart-main-page, .product-category-page, .product-img-in-calculator, .about-text {
        width: 50%;
    }

    .product-container-product-page > div {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .fast-menu-in-left-menu {
        display: block;
    }
}

@media screen and (max-width: 540px) {
    .category-cart-main-page, .product-category-page, .product-img-in-calculator, .about-text {
        width: 100%;
    }
}
