.category-cart-main-page, .product-category-page {
    width: 25%;
}

.fast-menu-in-left-menu {
    display: none;
}

.product-container-product-page > div {
    width: 50%;
}

.product-img-in-calculator {
    width: 25%;
}

.about-text {
    width: 25%
}

@media screen and (max-width: 1440px) {

    .category-cart-main-page, .product-category-page, .about-text {
        width: 33%;
    }
}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 960px) {

    .category-cart-main-page, .product-category-page, .product-img-in-calculator, .about-text {
        width: 50%;
    }

    .product-container-product-page > div {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .fast-menu {
        display: none;
    }
    .social-contact {
        display: none;
    }
    .menu {
        margin-right: auto;
    }
    .text-menu {
        display: none;
    }

    .no-mobile-version {
        display: none;
    }

    .search-container-header {
        display: none;
    }

    .smooth-block {
        width: 100%;
    }

    main {
        min-height: calc(100vh - 200px);
        margin: 25px 5% 0 5%;
    }

    .carousel {
        width: 100%;
    }

    .carousel-container {
        height: 200px;
    }

    .img-carousel {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        border-radius: 15px;
        background-color: #d0d0d0;
        text-align: center;
        font-size: 25px;
    }

    .phone-container-header {
        display: none;
    }

    .fast-menu-in-left-menu {
        display: block;
    }
    .button-back-call {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .category-cart-main-page, .product-category-page, .product-img-in-calculator, .about-text {
        width: 100%;
    }
    .container-basket-and-profile {
        display: none;
    }
    .logo-container {
        margin-right: auto;
    }
    .menu {
        margin-right: 10px;
    }
}