/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    max-width: 100%;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

input {
    outline: none;
}


.smooth-block {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
}

.smooth-block.smooth-block-show {
    opacity: 1;
    transition: opacity 2s;
}

.smooth-block > a > .title-category {
    opacity: 0;
    transition: opacity .3s;
}

.smooth-block:hover > a > .title-category {
    opacity: 1;
}

.smooth-block > a > .shadow-text {
    opacity: 0;
    transition: opacity .3s;
}

.smooth-block:hover > a > .shadow-text {
    opacity: 1;
}

.show-el {
    display: block;
}

.hide-el {
    display: none;
}

.expander-menu-category {
    transition: transform 100ms;
}

.expander-menu-subcategory {
    transition: transform 100ms;
}

.expander-menu-category.rotation-90 {
    transform: rotate(0.25turn) !important;
}

.expander-menu-subcategory.rotation-90 {
    transform: rotate(0.25turn) !important;
}


@media screen and (min-width: 768px) {
    .no-mobile-version {
        display: none;
    }
}

.btn-slider {
    opacity: 25%;
    cursor: pointer;
}

.btn-slider:hover {
    opacity: 100%;
    transition: opacity 200ms ease-out;
}

.carousel-container {
    position: relative;
    height: 350px;
}

.carousel-container > .img-carousel {
    display: none;
}

.carousel-container > .active {
    display: flex;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo {
    width: 100px;
    height: 100px;
}

.bg-logo-victoria {
    background-image: url('/img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.fast-menu > a:not(:first-child) {
    border-left: 1px solid black;
}

.fast-menu > a {
    text-decoration: none;
}

.fast-menu > a:hover {
    color: #ec407a;
}

.container-profile:hover {
    color: #ec407a;
}

.button-basket:hover {
    color: #ec407a;
}

.smooth-block:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform .3s;
}

.category-img-main {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.button-create-order:hover {
    background-color: #00aff2;
}

.button-create-order:active {
    background-color: #ffffff;
    color: #00aff2;
    border: 1px solid #00aff2;
    padding: 4px 14px;
}

.button-create-order {
    background-color: #1976d2;
    border: unset;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}

.button-add-in-basket:hover {
    background-color: #00aff2;
}

.button-add-in-basket:active {
    background-color: #ffffff;
    color: #00aff2;
    border: 1px solid #00aff2;
    padding: 4px 14px;
}

.button-add-in-basket {
    background-color: #1976d2;
    border: unset;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}


.button-blue:hover {
    background-color: #00aff2;
}

.button-blue:active {
    background-color: #ffffff;
    color: #00aff2;
    border: 1px solid #00aff2;
    padding: 4px 14px;
}

.button-blue {
    background-color: #1976d2;
    border: unset;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}

.product-name-in-basket {
    text-decoration: none;
    color: unset;
}

.product-name-in-basket:hover > div {
    text-decoration: underline;
}

.button-show-products-cart-in-basket > svg {
    transition: transform 100ms;
}

.button-show-products-cart-in-basket > svg.rotation-90 {
    transform: rotate(-90deg);
}

.all-cart-product {
    transform: scaleY(1);
    transition: transform 0.25s ease;
    transform-origin: top;
}

.all-cart-product.height-0 {
    transform: scaleY(0);
}

.button-create-order:hover {
    background-color: #00aff2;
}

.button-create-order:active {
    background-color: #ffffff;
    color: #00aff2;
    border: 1px solid #00aff2;
    padding: 4px 14px;
}

.button-create-ordert {
    background-color: #1976d2;
    border: unset;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}

.type_user_label:checked {
    color: white;
}

.flash-message {
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
}

.flash-message.show-el {
    display: block;
}

.flash-message-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.flash-message-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.flash-message-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal.show-el {
    display: flex;
}

.modal-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal-container {
    width: 100%;
    margin: auto;
    display: flex;
}

.modal-flash-message {
    position: absolute;
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.window-modal {
    margin: auto;
    max-height: 90vh;
    overflow: auto;
    position: relative;
}

header {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

main {
    min-height: calc(100vh - 200px);
}

.carousel {
    width: 80%;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.img-carousel {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    border-radius: 15px;
    background-color: #d0d0d0;
    text-align: center;
    font-size: 50px;
}

/*
    Small screen
*/

@media screen and (max-width: 768px) {

    /*.left-menu {*/
    /*    display: none;*/
    /*}*/

    .fast-menu {
        display: none;
    }

    .no-mobile-version {
        display: none;
    }

    .search-container-header {
        display: none;
    }

    .smooth-block {
        width: 100%;
    }

    main {
        min-height: calc(100vh - 200px);
        margin: 25px 5% 0 5%;
    }

    .carousel {
        width: 100%;
    }

    .carousel-container {
        height: 200px;
    }

    .img-carousel {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        border-radius: 15px;
        background-color: #d0d0d0;
        text-align: center;
        font-size: 25px;
    }

    .phone-container-header {
        display: none;
    }
}

.border-black {
    border: 1px solid black;
}

.border-red {
    border-color: red;
}

.close-menu-button > svg {
    transition: transform 500ms;
}

.left-menu:not(.hide) .close-menu-button > svg {
    animation: rotate 1s;
}

.close-menu-button > svg:hover {
    transform: rotate(360deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

